# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\jsp-servlet_jpa_mysql-webshop-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
